# OS files
.DS_Store
Thumbs.db
desktop.ini

# Archives / release builds
*.zip
*.rar
*.7z

# Temporary files
*.tmp
*.bak
*.old
*.log

# Editing source files
*.psd
*.clip
*.kra
*.blend
*.aseprite

# Folders
.cache/
temp/
backup/
backups/

# Minecraft / launcher junk
.minecraft/
logs/
crash-reports/
